@page "/searchpoems"
@layout CustomUserLayout
@inject NavigationManager NVM

<section class="min-vh-100 bg-light pt-5 pb-5">
    <div class="container">
        <div class="row p-3">
            <div class="col-md-12">
                <h3 class="fw-bolder urdu float-right">نظموں کی فہرست</h3>
            </div>
        </div>

        <div class="">
            <div class="d-flex  p-1 bg-light ">
                <div class=" p-1 w-25 mt-auto mb-auto m-1" style="box-shadow: rgba(9, 30, 66, 0.25) 0px 0px 1px, rgba(9, 30, 66, 0.13) 0px 0px 0px 1px;">
                    <input type="search" @bind="Poemname" class=" w-100 urdu  p-1" style=" outline: none" placeholder="نظم کا نام" />
                </div>

                <div class=" mt-auto mb-auto p-1 w-25 m-1 " style="box-shadow: rgba(9, 30, 66, 0.25) 0px 0px 1px, rgba(9, 30, 66, 0.13) 0px 0px 0px 1px;">
                    <input type="search" @bind="poetname" class=" w-100 urdu  p-1" style=" outline: none" placeholder="شاعر کا نام" />
                </div>

                <button type="button" style='display:@(display)' class="btn btn-primary float-left" @onclick="SearchPoems">Search Poems</button>
                <button class="btn btn-primary float-left" style='display:@(display2)' type="button" dir="ltr" disabled>
                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>

                    Searching...

                </button>
            </div>
            <div class=" p-2 pt-3 ">
                <div class="float-right  d-flex flex-wrap col-md-8" style='display:@(display)!important;'>
                    @foreach (var Poem in PoemList)
                    {
                        <GhazalNazamSearchCard ContentName="@Poem.PoemName" PoetName="@Poem.PoetName" Misra1="@Poem.Misra1" Misra2="@Poem.Misra2" PoetImage="@Poem.PoetImage" Poetid="@Poem.UId">
                            <MoveButton>
                                <a href="poem/@Poem.PoemId" class=" ">
                                    View Full Poem
                                </a>
                            </MoveButton>
                        </GhazalNazamSearchCard>
                    }
                </div>

                <div class="text-center" style='margin-top:15%; display:@(display2)!important; '>

                    <div class="spinner-border m-auto text-center flex" style='width: 3rem; height: 3rem;display:@(display2); ' role="status">
                        <span class="visually-hidden m-auto">Loading...</span>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>

@code {
    public string display = "block";
    public string display2 = "none";
    public string poetname = null;
    public string Poemname = null;
    public string? PoemName = null;
    List<EntPoemSearch> PoemList = new List<EntPoemSearch>();

    private async Task SearchPoems()
    {
        display = "none";
        display2 = "";


        PoemList = await DALSearchPoemByPoemAndPoetName.GetPoemByPoetAndPoemName(poetname, Poemname);

        await Task.Delay(1500);

        display = "";
        display2 = "none";

    }
    protected override async Task OnInitializedAsync()
    {
        display = "none";
        display2 = "";

        await base.OnInitializedAsync();
        PoemList = await DALSearchPoemByPoemAndPoetName.GetPoemByPoetAndPoemName(null, null);
        await Task.Delay(1000);
        display = "";
        display2 = "none";
    }

}
