@page "/poem/{poemid}"
@layout CustomUserLayout

<DisplayContent ContentName="@ContentHolder.ContentName" PoetName="@ContentHolder.PoetName" UId="@ContentHolder.UId.ToString()">
    <Content>
        <ListRender TList="EntGetContent" ContentList="@Content">
            <Data>
                <div class="d-flex flex-column">
                    <PhraseRenderer Misra1="@context.Verse1" Misra2="@context.Verse2" />
                </div>
            </Data>
        </ListRender>
    </Content>
</DisplayContent>

@code {
    [Parameter] public string? poemid { get; set; }
    List<EntGetContent> Content = new List<EntGetContent>();
    EntContentDetails ContentHolder = new EntContentDetails();

    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
        Content = await DAL.DALGetNazamByNazamId.GetNazamByNazamId(poemid);
        ContentHolder = await DALGetPoetAndPoemNameByNazamId.GetNazamAndPoetNameByNazamId(poemid.ToString());

    }
}
