@page "/poetprofile"
@attribute [Authorize(Roles = "Poet")]
@using Entities;
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage;
@using Authentication
@using Microsoft.AspNetCore.Components.Authorization;
@using Microsoft.Identity.Client;
@using Microsoft.IdentityModel.Tokens;
@using System.Diagnostics.Eventing.Reader;
@using System.Security.Claims;
@inject AuthenticationStateProvider ASP;
@using DAL;
@using WebAPI.Controllers;

<h3>PoetProfile</h3>
@ent.UserName  @ent.LastName @ent.PhoneNumber @ent.DateOfBirth @ent.City @ent.Location @ent.Area 
@ent.FirstName

@code {

    PoetGetParameters pgp = new PoetGetParameters();
    EntUserProfile ent = new EntUserProfile();

    protected override async Task OnInitializedAsync()
    {
        var authState = await ASP.GetAuthenticationStateAsync();
        pgp.Role = authState.User.FindFirst(ClaimTypes.Role)?.Value;
        pgp.PId = Convert.ToInt32(authState.User.FindFirst("UId")?.Value);
        ent = await DALPoetProfile.GetPoetData(pgp);
        Console.WriteLine($"HIII {ent.PhoneNumber}");

    }

}
